---

---

<section
  id="about"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="About me"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
    >
      About
    </h2>
  </div>
  <div>
    <div class="mb-4 space-y-4">
      <p>
        I'm a FullStack Developer with a strong focus on Backend technologies.
        My expertise lies in building robust and scalable server-side
        applications. Even though that is my focus, I also have extensive
        experience with Frontend technologies, including React, Next.js and
        Astro.
      </p>
      <p>
        Additionally, I love bringing a creative edge to my projects through my
        self thaught Graphic Design capabilities. Wether it is creating seemless
        user experiences or developing powerful Backend systems, I'm passionate
        about delivering high quality solutions that drive success. Explore my
        work and let's build someting great together!
      </p>
      <p>Looking forward to new challenges and exciting collaborations!</p>
    </div>
  </div>
</section>
