---
import { EXPERIENCE } from "../../data/experience";
import Experience from "../../components/experience/index.astro";
---

<section
  id="experience"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Work experience"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
    >
      Experience
    </h2>
  </div><div>
    <ol class="group/list space-y-12">
      {EXPERIENCE.map((experience) => <Experience {...experience} />)}
    </ol>

    <div class="mt-12">
      <a
        data-ccursor
        class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
        aria-label="View Full Résumé"
        target="_blank"
        rel="noreferrer noopener"
        href="./resume.pdf"
      >
        <span>
          <span
            class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
          >
            View Full
          </span>
          <span class="whitespace-nowrap">
            <span
              class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
            >
              Résumé
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
              aria-hidden="true"
              ><path
                fill-rule="evenodd"
                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                clip-rule="evenodd"></path></svg
            ></span
          ></span
        ></a
      >
    </div>
  </div>
</section>
